.end-user {
  padding-top: 110px;
}

p {
    line-height: 24px;
    margin: 15px 0;
}

ol li {
  list-style: decimal;
  margin-bottom: 24px;
  margin-left: 15px;
  line-height: 24px;
}

ol li a {
    text-decoration: none;
    color: var(--icon-color);
}

ol li a:hover {
    color:#a3a3a3;
    transition: 0.7s;
} 


