:root {
  --bg: #333;
  --text-color: #fff;
  --icon-color: #05ffcc;
  --text-content: #000;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden!important;
  min-width: 320px;
  color: #fff;
}

body {
  background: var(--bg) !important;
  color: var(--text-color) !important;
}

.container {
  margin-right: auto;
  margin-left:  auto;

  max-width: 1140px;

  padding-right: 15px; 
  padding-left:  15px; 
}

h1 {
  font-style: normal;
  font-size: 30px;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}

h3 {
  font-size: 12px;
  line-height: 5px;
}

h4 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 24px;
}


@media (min-width: 800px) {
  h2 {
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 22px;
    line-height: 5px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 14px !important;
    line-height: 22px;
  }
}

