.privacy {
    padding-top: 110px;
  }
  
  p {
      line-height: 24px;
      margin: 15px 0;
  }

  ul {
    margin-left: 15px;
  }
  
  ol li {
    list-style: decimal;
    margin-bottom: 24px;
    margin-left: 15px;
    line-height: 24px;
  }
  
  ol li a,
  p a {
      text-decoration: none;
      color: var(--icon-color);
  }
  
  ol li a:hover {
      color:#a3a3a3;
      transition: 0.7s;
  } 
  
  @media (min-width: 800px) {
    ul {
      margin-left: 30px;
    }
  }
  